WebPages/Service References/EnNmberService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BasicsServices/EnterpriseService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL" />
  <xs:element name="AddEnterprise">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL" minOccurs="0" name="info" nillable="true" type="q1:EnterpriseEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEnterpriseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEnterpriseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnterpriseTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StarPages" type="xs:int" />
        <xs:element minOccurs="0" name="EndPages" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnterpriseTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEnterpriseTempResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AmountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pinyin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TypeID" type="xs:int" />
        <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
        <xs:element minOccurs="0" name="EndIndex" type="xs:int" />
        <xs:element minOccurs="0" name="E_Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountDSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountDSResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountTypeTemp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountTypeTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountTypeTempResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountRemarkTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AmountCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountRemarkTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountRemarkTempResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Amount_Code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AmountIntroduce" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditARResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditARResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizationLB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LicenseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Amount_Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizationLBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorizationLBResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Del_AmountLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LicenseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Amount_Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Del_AmountLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Del_AmountLicenseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePwd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnterpriseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EnterprisePwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePwdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePwdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL" minOccurs="0" name="entityInfo" nillable="true" type="q2:EnterpriseEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModelUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnterpriseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL" minOccurs="0" name="ModelSelectResult" nillable="true" type="q3:EnterpriseEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENumbersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENumberNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENumberNames" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENumberNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL" minOccurs="0" name="ENumberNamesResult" nillable="true" type="q4:EnterpriseEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>