WebPages/Service References/EnNmberService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EnterpriseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactsTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnterpriseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnterpriseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnterpriseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnterprisePwd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_Used" type="xs:int" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialPwd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnterpriseEntity" nillable="true" type="tns:EnterpriseEntity" />
</xs:schema>