WebPages/Service References/SpecialCalculationService/item31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/SpecialCalculationService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BasicsServiceBLL.SpecialCalculationBLL" />
  <xs:element name="GetMMPI_Json">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="A_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMMPI_JsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BasicsServiceBLL.SpecialCalculationBLL" minOccurs="0" name="GetMMPI_JsonResult" nillable="true" type="q1:ArrayOfMMPI_Result_Json" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>