WebPages/Service References/RoleService/item41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/RoleService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" />
  <xs:element name="AddRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" minOccurs="0" name="re" nillable="true" type="q1:RoleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitRoleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="enterpriseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="role_Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startPageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="endPageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitRoleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitRoleListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" minOccurs="0" name="re" nillable="true" type="q2:RoleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRIsOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleID" type="xs:int" />
        <xs:element minOccurs="0" name="IsOpen" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRIsOpenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRIsOpenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIsOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIsOpenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" minOccurs="0" name="GetIsOpenResult" nillable="true" type="q3:RoleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JudgeRoleName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Role_ID" type="xs:int" />
        <xs:element minOccurs="0" name="enterpriseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="U_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JudgeRoleNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JudgeRoleNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getrole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Role_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetroleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" minOccurs="0" name="GetroleResult" nillable="true" type="q4:RoleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRole">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" minOccurs="0" name="GetAllRoleResult" nillable="true" type="q5:ArrayOfRoleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleTypeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" minOccurs="0" name="GetRoleTypeListResult" nillable="true" type="q6:ArrayOfRoleTypeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Role_Type" type="xs:int" />
        <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" minOccurs="0" name="IsRoleResult" nillable="true" type="q7:RoleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>