WebPages/Service References/LetterService/BasicsServiceMODEL.LetterModel1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.LetterModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.LetterModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="U_LetterEntity">
    <xs:sequence>
      <xs:element name="_ul_id" type="xs:int" />
      <xs:element name="_ul_inboxisdelete" type="xs:int" />
      <xs:element name="_ul_isread" type="xs:int" />
      <xs:element name="_ul_jumptype" type="xs:int" />
      <xs:element name="_ul_note" nillable="true" type="xs:string" />
      <xs:element name="_ul_receveid" type="xs:int" />
      <xs:element name="_ul_senderid" type="xs:int" />
      <xs:element name="_ul_senderisdelete" type="xs:int" />
      <xs:element name="_ul_sendertype" type="xs:int" />
      <xs:element name="_ul_time" type="xs:dateTime" />
      <xs:element name="_ul_title" nillable="true" type="xs:string" />
      <xs:element name="_ul_type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="U_LetterEntity" nillable="true" type="tns:U_LetterEntity" />
</xs:schema>