WebPages/Service References/TestTypeService/item32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/TestTypeService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.TestTypeModel" />
  <xs:element name="GetAllTestType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTestTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.TestTypeModel" minOccurs="0" name="GetAllTestTypeResult" nillable="true" type="q1:ArrayOfTestTypeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>