WebPages/Service References/AmountService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/AmountService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/JSBR.Model.BaseTable.Entity" />
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/AmountService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AmountModel" />
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/AmountService/?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAmountTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Amount_TypeID" type="xs:int" />
        <xs:element minOccurs="0" name="Amount_Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Amount_Source" type="xs:int" />
        <xs:element minOccurs="0" name="StarPageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="EndPageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="LicenseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountTempResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGRAmountNameList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enterpriseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGRAmountNameListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGRAmountNameListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountNameResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAmountName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAmountNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JSBR.Model.BaseTable.Entity" minOccurs="0" name="GetAllAmountNameResult" nillable="true" type="q1:ArrayOfAmount_InfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JSBR.Model.BaseTable.Entity" minOccurs="0" name="Amount_Info" nillable="true" type="q2:Amount_InfoEntity" />
        <xs:element minOccurs="0" name="AmountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LicenseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAmountResult" type="xs:int" />
        <xs:element minOccurs="0" name="AmountCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountDimensionTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AmountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AmountType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountDimensionTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountDimensionTempResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountDimensionTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amountTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountDimensionTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountDimensionTreeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAD_Relation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AmountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AmountDimensionJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="U_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAD_RelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAD_RelationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSelfSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GuidanceStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSelfSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSelfSubjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AmountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startIndex" type="xs:int" />
        <xs:element minOccurs="0" name="endIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSubjectSourceResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCombination">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AmountModel" minOccurs="0" name="_info" nillable="true" type="q3:AmountDimensionEntity" />
        <xs:element minOccurs="0" name="SubjectCodeStr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AmountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCombinationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCombinationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDS_Temps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AmountCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDS_TempsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDS_TempsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountDimensionTempByA_Code">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="A_Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountDimensionTempByA_CodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountDimensionTempByA_CodeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNormTempByD_Code">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DimensionCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNormTempByD_CodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNormTempByD_CodeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScoreMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScoreJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NormCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScoreMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveScoreMessageResult" type="xs:int" />
        <xs:element minOccurs="0" name="NormCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDimension">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="D_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="A_Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDimensionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelDimensionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDS_RelationByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="D_Code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDS_RelationByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelDS_RelationByCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountNameList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enterpriseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountNameListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountNameListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScoreJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveScoreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountAndDimension">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Acode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountAndDimensionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountAndDimensionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectOperationTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectOperationTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSubjectOperationTempResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="A_Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisplayAmountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayDN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DimensionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NormCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayDNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisplayDNResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExplainWarningDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DimensionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NormCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExplainWarningDSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExplainWarningDSResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisNER">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NormCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ExplainCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisNERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisNERResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNER">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ne_json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveNERResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWER">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nw_json" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveWERResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelNWR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NormCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WarningCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelNWRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelNWRResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JSBR.Model.BaseTable.Entity" minOccurs="0" name="Amount_Info" nillable="true" type="q4:Amount_InfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAmountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSubjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTG_ByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TgCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTG_ByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelTG_ByCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelOperationByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubjectCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OperationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelOperationByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelOperationByCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectTempsByLBCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LB_Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectTempsByLBCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSubjectTempsByLBCodeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUpdateSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUpdateSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewUpdateSubjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormulaTempByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Dcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormulaTempByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFormulaTempByCodeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountLicenseTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LicenseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Amount_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountLicenseTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountLicenseTempResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationFormula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="U_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationFormulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OperationFormulaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Amount_Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Amount_Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDimensionByAmountCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amountCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDimensionByAmountCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDimensionByAmountCodeResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectNumByDimensionCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dimensionCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectNumByDimensionCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSubjectNumByDimensionCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateExpResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IpdateNw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UNW_Json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IpdateNwResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IpdateNwResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWD_SubList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DimensionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Amount_Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWD_SubListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWD_SubListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWDMess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DimensionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubjectNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DimensionCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWDMessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWDMessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDS_Relation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DimensionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubjectCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDS_RelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDS_RelationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="repeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AmountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DimensionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="repeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="repeatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectCountByAmountCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amountCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectCountByAmountCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSubjectCountByAmountCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zhidaoyu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AmountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="textareas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zhidaoyuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zhidaoyuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountNameByE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnterpriseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountNameByEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountNameByEResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>