WebPages/Service References/AnswerStatusService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AnswerStatusModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AnswerStatusModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAnswerStatusEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnswerStatusEntity" nillable="true" type="tns:AnswerStatusEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswerStatusEntity" nillable="true" type="tns:ArrayOfAnswerStatusEntity" />
  <xs:complexType name="AnswerStatusEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnsID" type="xs:int" />
      <xs:element minOccurs="0" name="AnsName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerStatusEntity" nillable="true" type="tns:AnswerStatusEntity" />
</xs:schema>