WebPages/Service References/RecycleBinService/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.RecycleBinModel" />
  <xs:element name="InitiRecyleBinTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="modularName" type="xs:int" />
        <xs:element minOccurs="0" name="enterpriseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StarPageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="EndPageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitiRecyleBinTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitiRecyleBinTableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecycleBinByRBID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduarID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecycleBinByRBIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRecycleBinByRBIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rBID" type="xs:int" />
        <xs:element minOccurs="0" name="rBTableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rBFieldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rBFieldValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rBDeleteFieldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestoreDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutDataInRecycleBin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.RecycleBinModel" minOccurs="0" name="model" nillable="true" type="q1:RecycleBinModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutDataInRecycleBinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutDataInRecycleBinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.RecycleBinModel" minOccurs="0" name="entityInfo" nillable="true" type="q2:RecycleBinEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRecycleBin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.RecycleBinModel" minOccurs="0" name="model" nillable="true" type="q3:RecycleBinModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRecycleBinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRecycleBinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rBID" type="xs:int" />
        <xs:element minOccurs="0" name="rBTableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rBFieldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rBFieldValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rBDeleteFieldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="counts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recydelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recydeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recydeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>