WebPages/Service References/ReservationService/item51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/ReservationService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.ReservationModel" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.ReservationModel" minOccurs="0" name="entityInfo" nillable="true" type="q1:YT_YuYueTimeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YNTInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.ReservationModel" minOccurs="0" name="model" nillable="true" type="q2:YNT_YuyueNewThemEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YNTInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YNTInsertResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YOTInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.ReservationModel" minOccurs="0" name="model" nillable="true" type="q3:YOT_YuyueOldThemEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YOTInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YOTInsertResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYNTThem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYNTThemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetYNTThemResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYNTInfoByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YNT_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYNTInfoByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.ReservationModel" minOccurs="0" name="GetYNTInfoByIDResult" nillable="true" type="q4:YNT_YuyueNewThemEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYTTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="StarPageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="EndPageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYTTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetYTTempResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YU_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.ReservationModel" minOccurs="0" name="GetEntityResult" nillable="true" type="q5:Y_UserYuYueEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityBYID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YT_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityBYIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.ReservationModel" minOccurs="0" name="GetEntityBYIDResult" nillable="true" type="q6:Y_UserYuYueEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>