WebPages/Service References/DistributeRecordService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntieyBLL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntieyBLL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SpecialReport.Report">
    <xs:sequence>
      <xs:element minOccurs="0" name="DimensionEntitys" nillable="true" type="tns:ArrayOfSpecialReport.Report.DimensionEntity" />
      <xs:element minOccurs="0" name="UserINfos" nillable="true" type="tns:ArrayOfSpecialReport.Report.UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecialReport.Report" nillable="true" type="tns:SpecialReport.Report" />
  <xs:complexType name="ArrayOfSpecialReport.Report.DimensionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialReport.Report.DimensionEntity" nillable="true" type="tns:SpecialReport.Report.DimensionEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialReport.Report.DimensionEntity" nillable="true" type="tns:ArrayOfSpecialReport.Report.DimensionEntity" />
  <xs:complexType name="SpecialReport.Report.DimensionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Acodes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConversionFormula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConversionScore" type="xs:double" />
      <xs:element minOccurs="0" name="D_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Formulas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rdeor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:double" />
      <xs:element minOccurs="0" name="WD_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_NormName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="scoretype" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecialReport.Report.DimensionEntity" nillable="true" type="tns:SpecialReport.Report.DimensionEntity" />
  <xs:complexType name="ArrayOfSpecialReport.Report.UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialReport.Report.UserInfo" nillable="true" type="tns:SpecialReport.Report.UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialReport.Report.UserInfo" nillable="true" type="tns:ArrayOfSpecialReport.Report.UserInfo" />
  <xs:complexType name="SpecialReport.Report.UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxValue" type="xs:double" />
      <xs:element minOccurs="0" name="MinValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecialReport.Report.UserInfo" nillable="true" type="tns:SpecialReport.Report.UserInfo" />
</xs:schema>