WebPages/Service References/DistributeRecordService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.R_ReportEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.R_ReportEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="R_ReportEntity">
    <xs:sequence>
      <xs:element name="_answeid" type="xs:int" />
      <xs:element name="_createuid" type="xs:int" />
      <xs:element name="_r_code" nillable="true" type="xs:string" />
      <xs:element name="_r_createdate" type="xs:dateTime" />
      <xs:element name="_r_id" type="xs:int" />
      <xs:element name="_reportjson" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="R_ReportEntity" nillable="true" type="tns:R_ReportEntity" />
</xs:schema>