WebPages/Service References/DistributeRecordService/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JSBR.Model.BaseTable.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JSBR.Model.BaseTable.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Amount_InfoEntity">
    <xs:sequence>
      <xs:element name="_amount_code" nillable="true" type="xs:string" />
      <xs:element name="_amount_displayname" nillable="true" type="xs:string" />
      <xs:element name="_amount_guidance" nillable="true" type="xs:string" />
      <xs:element name="_amount_id" type="xs:long" />
      <xs:element name="_amount_jianpin" nillable="true" type="xs:string" />
      <xs:element name="_amount_marks" nillable="true" type="xs:string" />
      <xs:element name="_amount_name" nillable="true" type="xs:string" />
      <xs:element name="_amount_pinyin" nillable="true" type="xs:string" />
      <xs:element name="_amount_source" type="xs:int" />
      <xs:element name="_amount_subjectnum" type="xs:int" />
      <xs:element name="_amount_typeid" type="xs:long" />
      <xs:element name="_completeamount" type="xs:decimal" />
      <xs:element name="_createtime" type="xs:dateTime" />
      <xs:element name="_end_applypeoples" nillable="true" type="xs:string" />
      <xs:element name="_is_delete" type="xs:int" />
      <xs:element name="_start_applypeoples" nillable="true" type="xs:string" />
      <xs:element name="_u_id" type="xs:int" />
      <xs:element name="amountCreatePerson" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Amount_InfoEntity" nillable="true" type="tns:Amount_InfoEntity" />
</xs:schema>