WebPages/Service References/DistributeRecordService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="State">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fail" type="xs:int" />
      <xs:element minOccurs="0" name="FailName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sucess" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="State" nillable="true" type="tns:State" />
</xs:schema>