WebPages/Service References/AppointmentConsultService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/AppointmentConsultService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AppointmentConsultModel" />
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/AppointmentConsultService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.QuestionTypeModel" />
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/AppointmentConsultService/?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddDistributeWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AppointmentConsultModel" minOccurs="0" name="model" nillable="true" type="q1:DistributeWorkModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDistributeWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDistributeWorkResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCounselorByEnterpriseCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enterpriseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCounselorByEnterpriseCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AppointmentConsultModel" minOccurs="0" name="GetAllCounselorByEnterpriseCodeResult" nillable="true" type="q2:ArrayOfCounselorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistributeWorkByUid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userRoleType" type="xs:int" />
        <xs:element minOccurs="0" name="uid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistributeWorkByUidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AppointmentConsultModel" minOccurs="0" name="GetDistributeWorkByUidResult" nillable="true" type="q3:ArrayOfDistributeWorkViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultWay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultWayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AppointmentConsultModel" minOccurs="0" name="GetConsultWayResult" nillable="true" type="q4:ArrayOfConsultWayViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultSubjectByEnterpriseCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enterpriseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultSubjectByEnterpriseCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AppointmentConsultModel" minOccurs="0" name="GetConsultSubjectByEnterpriseCodeResult" nillable="true" type="q5:ArrayOfConsultSubjectViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultSubjectByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultSubjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultSubjectByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AppointmentConsultModel" minOccurs="0" name="GetConsultSubjectByIDResult" nillable="true" type="q6:ArrayOfConsultSubjectViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConsultSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AppointmentConsultModel" minOccurs="0" name="model" nillable="true" type="q7:ConsultSubjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConsultSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddConsultSubjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enterpriseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.QuestionTypeModel" minOccurs="0" name="GetQuestionTypeResult" nillable="true" type="q8:ArrayOfQuestionTypeViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppointmentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="distriID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppointmentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAppointmentInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDistributeWorkByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distriID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDistributeWorkByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDistributeWorkByIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startPageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="endPageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="distriID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAppointmentResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AppointmentConsultModel" minOccurs="0" name="GetAppointmentInfoResult" nillable="true" type="q9:AppointmentViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptApply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distributeWorkID" type="xs:int" />
        <xs:element minOccurs="0" name="appID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptApplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptApplyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefuseApply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appID" type="xs:int" />
        <xs:element minOccurs="0" name="refuseReason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefuseApplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefuseApplyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentHeaderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distriID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentHeaderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AppointmentConsultModel" minOccurs="0" name="GetAppointmentHeaderInfoResult" nillable="true" type="q10:AppointmentBasicInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentPeopleCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distriID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentPeopleCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAppointmentPeopleCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistriID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="counselorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistriIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDistriIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserApplyAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AppointmentConsultModel" minOccurs="0" name="model" nillable="true" type="q11:AppointmentModel" />
        <xs:element minOccurs="0" name="tel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="questionTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="userRoleTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserApplyAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserApplyAppointmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distriID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAppointmentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConsultResultComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appID" type="xs:int" />
        <xs:element minOccurs="0" name="level" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConsultResultCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddConsultResultCommentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefuseAndReturnDistriID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distriID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefuseAndReturnDistriIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RefuseAndReturnDistriIDResult" nillable="true" type="q12:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distriID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAppointmentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplyPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distriID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplyPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApplyPersonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAwaitStateAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distriID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAwaitStateAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AppointmentConsultModel" minOccurs="0" name="GetAwaitStateAppointmentResult" nillable="true" type="q13:ArrayOfAwaitStateAppointmentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThroughtCreditPeopleCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distriID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThroughtCreditPeopleCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetThroughtCreditPeopleCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JudgeSubjectRepeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enterpriseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JudgeSubjectRepeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JudgeSubjectRepeatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distributeWorkID" type="xs:int" />
        <xs:element minOccurs="0" name="appointmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelAppointmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JudgeAppointmentIsComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distributeWorkID" type="xs:int" />
        <xs:element minOccurs="0" name="appointmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JudgeAppointmentIsCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JudgeAppointmentIsCommentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentIsComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="questionTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="counselorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentIsCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAppointmentIsCommentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSubjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpectationServicePeopleCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distriID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpectationServicePeopleCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExpectationServicePeopleCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViewAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startPageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="endPageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="distriID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViewAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetViewAppointmentResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JudgeIsAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distributeWorkID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JudgeIsAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JudgeIsAppointmentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>