WebPages/Service References/AppointmentConsultService/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.QuestionTypeModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.QuestionTypeModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfQuestionTypeViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionTypeViewModel" nillable="true" type="tns:QuestionTypeViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionTypeViewModel" nillable="true" type="tns:ArrayOfQuestionTypeViewModel" />
  <xs:complexType name="QuestionTypeViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuestionTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionTypeViewModel" nillable="true" type="tns:QuestionTypeViewModel" />
</xs:schema>