WebPages/Service References/PersonalReportService/item65.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.PushStatusModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.PushStatusModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PushStatusEntitys">
    <xs:sequence>
      <xs:element name="_answeraddid" type="xs:int" />
      <xs:element name="_psid" type="xs:int" />
      <xs:element name="_psstate" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PushStatusEntitys" nillable="true" type="tns:PushStatusEntitys" />
</xs:schema>