WebPages/Service References/PersonalReportService/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/PersonalReportService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.PersonalReportModel" />
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/PersonalReportService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.PushStatusModel" />
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/PersonalReportService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.R_ReportEntity" />
  <xs:element name="InitiPersonalReportTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Uid" type="xs:int" />
        <xs:element minOccurs="0" name="Amount_TypeID" type="xs:int" />
        <xs:element minOccurs="0" name="Amount_ID" type="xs:int" />
        <xs:element minOccurs="0" name="D_ID" type="xs:int" />
        <xs:element minOccurs="0" name="DistributionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PSstate" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EnterpriseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StarPageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="EndPageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitiPersonalReportTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitiPersonalReportTableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.PersonalReportModel" minOccurs="0" name="entityInfo" nillable="true" type="q1:PersonalReportAddEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PRInsertResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.PersonalReportModel" minOccurs="0" name="entityInfo" nillable="true" type="q2:PersonalReportAddEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateByAnswerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.PersonalReportModel" minOccurs="0" name="entityInfo" nillable="true" type="q3:PersonalReportAddEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateByAnswerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateByAnswerIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonExcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonExcelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.PushStatusModel" minOccurs="0" name="entityInfo" nillable="true" type="q4:PushStatusEntitys" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="R_ReportInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.R_ReportEntity" minOccurs="0" name="entityInfo" nillable="true" type="q5:R_ReportEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="R_ReportInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="R_ReportInsertResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AmountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AnswerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportExport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnswerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportExportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>