WebPages/Service References/AdvisoryStatisticsService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AdvisoryStatisticsModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AdvisoryStatisticsModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AdvisoryStatisticsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnalyzeSubject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CeatePerson" type="xs:int" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnterpriseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Super_Delete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Type" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvisoryStatisticsModel" nillable="true" type="tns:AdvisoryStatisticsModel" />
</xs:schema>