WebPages/Service References/DepartmentService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JSBR.Model.BaseTable.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JSBR.Model.BaseTable.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DepartmentEntity">
    <xs:sequence>
      <xs:element name="_d_chiid" nillable="true" type="xs:string" />
      <xs:element name="_d_id" type="xs:int" />
      <xs:element name="_d_name" nillable="true" type="xs:string" />
      <xs:element name="_d_number" nillable="true" type="xs:string" />
      <xs:element name="_d_remark" nillable="true" type="xs:string" />
      <xs:element name="create_id" type="xs:int" />
      <xs:element name="d_chiIDs" nillable="true" type="xs:string" />
      <xs:element name="d_code" nillable="true" type="xs:string" />
      <xs:element name="d_delete" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentEntity" nillable="true" type="tns:DepartmentEntity" />
</xs:schema>