WebPages/Service References/AnswerAddService/item51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicesServiceMODEL.DistributeRecordModel.QueryModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicesServiceMODEL.DistributeRecordModel.QueryModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MemberChooseQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="EndPageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxAge" type="xs:int" />
      <xs:element minOccurs="0" name="MinAge" type="xs:int" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="StartPageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="TestName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberChooseQueryModel" nillable="true" type="tns:MemberChooseQueryModel" />
</xs:schema>