WebPages/Service References/FunctionService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/FunctionService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" />
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/FunctionService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/FunctionService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BasicsServiceBLL.BasicSettingBLL" />
  <xs:element name="GetAllFun">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" minOccurs="0" name="GetAllFunResult" nillable="true" type="q1:ArrayOfFunctionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleFun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleFunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRoleFunResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleFun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleFunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRoleFunResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleID" type="xs:int" />
        <xs:element minOccurs="0" name="funID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deletes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="role" nillable="true" type="q3:ArrayOfint" />
        <xs:element minOccurs="0" name="roleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunByFunType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunByFunTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" minOccurs="0" name="GetFunByFunTypeResult" nillable="true" type="q4:ArrayOfFunctionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunByParentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunByParentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" minOccurs="0" name="GetFunByParentIDResult" nillable="true" type="q5:ArrayOfFunctionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminFunByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminFunByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" minOccurs="0" name="GetAdminFunByUserIDResult" nillable="true" type="q6:ArrayOfFunctionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentFunByFunID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentFunByFunIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" minOccurs="0" name="GetParentFunByFunIDResult" nillable="true" type="q7:FunctionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fun_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" minOccurs="0" name="GetEntityResult" nillable="true" type="q8:FunctionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRF_AD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRF_ADResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BasicsServiceBLL.BasicSettingBLL" minOccurs="0" name="GetRF_ADResult" nillable="true" type="q9:ArrayOfRF_Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleAndFunctionByRoleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleAndFunctionByRoleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BasicsServiceBLL.BasicSettingBLL" minOccurs="0" name="GetRoleAndFunctionByRoleIDResult" nillable="true" type="q10:ArrayOfRF_Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRoleName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="role_type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRoleNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.BasicSettingModel" minOccurs="0" name="SelectRoleNameResult" nillable="true" type="q11:ArrayOfRoleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunByFID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunByFIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFunByFIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>