WebPages/Service References/EnterpriseOnlineService/item31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/EnterpriseOnlineService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.EnterpriseOnlineModel" />
  <xs:element name="EOInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.EnterpriseOnlineModel" minOccurs="0" name="entityInfo" nillable="true" type="q1:DepartmentLicense_InfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EOInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EOInsertResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>