WebPages/Service References/StatisticalService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetStatisticaUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="userRoleType" type="xs:int" />
        <xs:element minOccurs="0" name="Amount_Code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
        <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EnterpriseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
        <xs:element minOccurs="0" name="EndIndex" type="xs:int" />
        <xs:element minOccurs="0" name="S_Time" type="xs:dateTime" />
        <xs:element minOccurs="0" name="E_Time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticaUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatisticaUserResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Amount_Code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
        <xs:element minOccurs="0" name="EnterpriseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_Time" type="xs:dateTime" />
        <xs:element minOccurs="0" name="E_Time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTestTypeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLogic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XMLJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LB_Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLogicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateLogicResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalyBaseTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnalyBaseMark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalyBaseTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAnalyBaseTempResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>