WebPages/Service References/ParameterService/item43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.ReservationModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.ReservationModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParameterEntity">
    <xs:sequence>
      <xs:element name="_descr" nillable="true" type="xs:string" />
      <xs:element name="_p_delete" type="xs:int" />
      <xs:element name="_parameterid" type="xs:int" />
      <xs:element name="_parametername" nillable="true" type="xs:string" />
      <xs:element name="_parametertype" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterEntity" nillable="true" type="tns:ParameterEntity" />
</xs:schema>