WebPages/Service References/QuestionTypeService/item51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.QuestionTypeModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.QuestionTypeModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QuestionType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Describe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnterpriseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QTCreatePerson" type="xs:int" />
      <xs:element minOccurs="0" name="QTID" type="xs:int" />
      <xs:element minOccurs="0" name="QTName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionType" nillable="true" type="tns:QuestionType" />
</xs:schema>