WebPages/Service References/SerialMapServices/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IsActivate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XLH" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XLHPWD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsActivateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsActivateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIsSActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XLHGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIsSActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateIsSActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>