WebPages/Service References/SerialMapServices/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SerialMapService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISerialMapService_IsActivate_InputMessage">
    <wsdl:part name="parameters" element="tns:IsActivate" />
  </wsdl:message>
  <wsdl:message name="ISerialMapService_IsActivate_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsActivateResponse" />
  </wsdl:message>
  <wsdl:message name="ISerialMapService_UpdateIsSActive_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsSActive" />
  </wsdl:message>
  <wsdl:message name="ISerialMapService_UpdateIsSActive_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsSActiveResponse" />
  </wsdl:message>
  <wsdl:portType name="ISerialMapService">
    <wsdl:operation name="IsActivate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISerialMapService/IsActivate" message="tns:ISerialMapService_IsActivate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISerialMapService/IsActivateResponse" message="tns:ISerialMapService_IsActivate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIsSActive">
      <wsdl:input wsaw:Action="http://tempuri.org/ISerialMapService/UpdateIsSActive" message="tns:ISerialMapService_UpdateIsSActive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISerialMapService/UpdateIsSActiveResponse" message="tns:ISerialMapService_UpdateIsSActive_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISerialMapService" type="tns:ISerialMapService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsActivate">
      <soap:operation soapAction="http://tempuri.org/ISerialMapService/IsActivate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIsSActive">
      <soap:operation soapAction="http://tempuri.org/ISerialMapService/UpdateIsSActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SerialMapService">
    <wsdl:port name="BasicHttpBinding_ISerialMapService" binding="tns:BasicHttpBinding_ISerialMapService">
      <soap:address location="http://localhost/BasicsServices/SerialMapService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>