WebPages/Service References/InspectionWarningService/item42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Get_ShowIWTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StarTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="currentLoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="U_LoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="U_Sex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Department_ID" type="xs:int" />
        <xs:element minOccurs="0" name="Amount_Code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DimensionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartPage" type="xs:int" />
        <xs:element minOccurs="0" name="EndPage" type="xs:int" />
        <xs:element minOccurs="0" name="EnterpriseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ShowIWTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_ShowIWTempResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LicenseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetA_WD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Acode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetA_WDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetA_WDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCrisisListByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="C_Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCrisisListByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelCrisisListByCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCrisisListByCodeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="C_Code_Str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCrisisListByCodeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelCrisisListByCodeListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>