WebPages/Service References/SystemSettingService/item31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JSBR.Model.BaseTable.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JSBR.Model.BaseTable.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SystemSettingEntity">
    <xs:sequence>
      <xs:element name="_emailname" nillable="true" type="xs:string" />
      <xs:element name="_emailpwd" nillable="true" type="xs:string" />
      <xs:element name="_emailtype" nillable="true" type="xs:string" />
      <xs:element name="_ipaddress" nillable="true" type="xs:string" />
      <xs:element name="_systemid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemSettingEntity" nillable="true" type="tns:SystemSettingEntity" />
</xs:schema>