WebPages/Service References/SystemSettingService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8012/BasicsServices/SystemSettingService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JSBR.Model.BaseTable.Entity" />
  <xs:element name="SSUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JSBR.Model.BaseTable.Entity" minOccurs="0" name="model" nillable="true" type="q1:SystemSettingEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SSUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SSUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>