WebPages/Service References/GroupConsultationService/item62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.GroupConsultationModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.GroupConsultationModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GroupConsultationFileEntity">
    <xs:sequence>
      <xs:element name="_EnterpriseCode" nillable="true" type="xs:string" />
      <xs:element name="_csname" nillable="true" type="xs:string" />
      <xs:element name="_groupdescribe" nillable="true" type="xs:string" />
      <xs:element name="_id" type="xs:int" />
      <xs:element name="_isdelete" type="xs:int" />
      <xs:element name="_number" nillable="true" type="xs:string" />
      <xs:element name="_qtid" type="xs:int" />
      <xs:element name="_startdate" type="xs:dateTime" />
      <xs:element name="_summarytime" type="xs:dateTime" />
      <xs:element name="_u_id" type="xs:int" />
      <xs:element name="_users" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupConsultationFileEntity" nillable="true" type="tns:GroupConsultationFileEntity" />
  <xs:complexType name="GroupConsultationRecordEntity">
    <xs:sequence>
      <xs:element name="_content" nillable="true" type="xs:string" />
      <xs:element name="_ici_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupConsultationRecordEntity" nillable="true" type="tns:GroupConsultationRecordEntity" />
  <xs:complexType name="GroupConsultationSummaryEntity">
    <xs:sequence>
      <xs:element name="_consultingeffect" type="xs:int" />
      <xs:element name="_content" nillable="true" type="xs:string" />
      <xs:element name="_ici_id" type="xs:int" />
      <xs:element name="_othercontent" nillable="true" type="xs:string" />
      <xs:element name="_users" nillable="true" type="xs:string" />
      <xs:element name="summarytime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupConsultationSummaryEntity" nillable="true" type="tns:GroupConsultationSummaryEntity" />
</xs:schema>