WebPages/Service References/GroupConsultationService/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AppointmentConsultModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicsServiceMODEL.AppointmentConsultModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CaseanalysisModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CID" type="xs:int" />
      <xs:element minOccurs="0" name="CPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qtype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseanalysisModel" nillable="true" type="tns:CaseanalysisModel" />
</xs:schema>